# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE's
.vscode/

# other
Thumbs.db
.DS_Store
*.DS_Store

# build outputs
dist/
build/
*.local
*.zip
*.log
*.map